
<div class="navbox">
    <button class="navbut">
        <a href="<%-`/song/${rank - 1}`%>">Prev</a> 
    </button>

    <button class="navbut">
        <a href="/top50">Home</a> 
    </button>

    <button class="navbut">
        <a href="<%-`/song/${rank + 1}`%>">Next</a> 
    </button>
</div>